body {
  background-color: red;
  font-family: "Montserrat", sans-serif;
  font-size: 62.5%;
  scroll-behavior: auto;
  scroll-behavior: smooth; }

.grid-container {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(span, auto);
  grid-template-areas: 'nav nav nav' 'portada portada portada' 'infobar infobar infobar' 'columnbar-1 columnbar-2 columnbar-3' 'infomenu infomenu infomenu' 'menu menu menu' 'reservas reservas reservas' 'datosreservas datosreservas mapa' 'footer footer footer'; }

.grid-container nav {
  display: flex;
  background-color: black;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  height: 4rem;
  width: 100%;
  position: fixed;
  top: 0;
  grid-area: nav; }

.logo {
  height: 2rem; }

nav ul {
  display: inline-block;
  margin: 0;
  height: 5rem;
  list-style: none; }

nav li {
  display: inline-block;
  margin: 1rem 2rem; }

nav a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem; }

nav a:hover {
  color: #A0A0A0; }

.grid-container #portada {
  grid-area: portada; }

.grid-container .slider {
  background-image: url(../img/IMG_5974.JPG);
  background-size: cover;
  height: 100vh;
  text-align: center; }

.btnReservas {
  border: 0.1rem solid white;
  font-size: 1.2rem;
  text-decoration: none;
  color: white;
  border-radius: 0.5rem;
  padding: 0.3rem 2rem; }

h1 {
  padding-top: 15rem;
  font-size: 3rem;
  color: white; }

h2 {
  color: white;
  text-align: center;
  font-size: 2rem;
  font-family: 'Sansita Swashed', cursive; }

h3 {
  color: white;
  text-align: center;
  font-size: 1.2rem !important; }

p {
  color: white;
  text-align: center;
  width: 100%; }

#nosotros {
  grid-area: infobar;
  height: 100vh; }

.textNosotros {
  font-size: 1.2rem;
  width: 70%;
  text-align: center;
  margin-left: auto;
  margin-right: auto; }

.infoNosotros {
  width: 28%; }

.infoNosotros img {
  width: 100%;
  height: 65%;
  border-radius: 15px; }

.infoNosotros p {
  font-size: 1rem; }

.info {
  display: flex;
  justify-content: space-around; }

.grid-container #menu {
  background-color: #A0A0A0;
  height: 100vh;
  grid-area: menu; }

.containerMenu {
  height: 100vh;
  font-size: 1rem; }

#reservas {
  grid-area: reservas; }

.grid-container .infoReservas {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  height: 100vh;
  grid-area: datosreservas; }

label {
  color: white;
  font-size: 1rem;
  font-weight: 600;
  display: block;
  margin-top: 2rem; }

input {
  text-align: center; }

.campo, .campo input {
  width: 40rem;
  margin-top: 1rem;
  font-size: 1rem; }

select {
  width: 50%;
  font-size: 1.5rem;
  margin-top: 1rem; }

.btnReserva {
  width: 50%;
  color: black;
  font-size: 1rem;
  margin-top: 2rem; }

footer {
  display: inline;
  grid-area: footer; }

footer p {
  color: white;
  text-align: center;
  font-size: 1rem; }

/* Media Queries*/
@media screen and (max-width: 1024px) {
  .grid-container nav {
    display: block;
    justify-content: center;
    height: 10rem; }
  .logo {
    margin-top: 1rem; }
  nav ul {
    display: block; } }

@media screen and (max-width: 700px) {
  .grid-container nav {
    display: block;
    justify-content: center;
    height: 14rem; } }
