html{
    background-color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 62.5%;

    scroll-behavior: auto;
    scroll-behavior: smooth;
}

nav{
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    height: 5rem;
}

.logo{
    height: 5rem;
}

ul{
    display: inline-block;
    margin: 0;
    height: 5rem;
    list-style: none;
}

li{
    display: inline-block;
    margin: 1rem 2rem;
}

nav a{
    color: white;
    text-decoration: none;
    font-size: 2rem;
}

nav a:hover{
    color: #A0A0A0;
}

.slider{
    background-image: url(../img/IMG_1781.jpeg);
    background-size: cover;
    height: 100vh;
    text-align: center;
}

h1{
    padding-top: 30rem;
    font-size: 2.7rem !important;
    color: white;
}

h2{
    color: white;
    text-align: center;
    font-size: 2rem;
}

.btnReservas{
    border: 0.1rem solid white;
    font-size: 2rem;
    text-decoration: none;
    color: white;
    border-radius: 0.5rem;
    padding: 0.3rem 2rem;
}

#nosotros{
    height: 100vh;
}

#menu{
    height: 100vh;
}

.infoReservas{
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 100vh;
}

label{
    color: white;
    font-size: 1.5rem;
    font-weight: 600;
    display: block;
    margin-top: 2rem;
}

input:placeholder-shown{
    text-align: center;
}

.campo, .campo input{
    width: 40rem;
    margin-top: 1rem;
    font-size: 1.5rem;
}

select{
    width: 50%;
    font-size: 1.5rem;
    margin-top: 1rem;
}

.btnReserva{
    width: 50%;
    color: black;
    font-size: 2rem;
    margin-top: 2rem;
}


footer{
    width: 200px;
    display: inline;
}

footer p{
    color: white;
    text-align: center;
    font-size: 1rem;
}