body{
    background-color: black;
}

a{
    color: white;
    text-decoration: none;
}

label{
    color: white;
}

h1{
    color: white;
}

footer{
    width: 200px;
}

.logo{
    width: 160px;
}

footer p{
    color: white;
}